* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #d3d3d3;
    transition: .3s;
}

.navbar a:hover:before {
    width: 100%;
}

.main-content {
    position: fixed;
    margin-left: 40px;
    top: 100px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    z-index: 100;
}

.main-content h1 {
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

th, td {
    padding: 10px;
    border: 2px solid #ddd;
}


.input{
    margin: 20px auto; /* Centriranje vertikalno i horizontalno */
    display: block;
    width: 50%; /* Širina elementa */
    padding: 8px;
    border: 1px;
} 
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.modal {
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 40%;
    height: 20%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: auto;
}

.popup.active {
    display: block;
}

.overlay.active {
    display: block;}
    
/* Promijenjena definicija za .popup-content */
.popup-content {
    height: 250px;
    width: 100px;
    background: rgb(255, 157, 157);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    /* Primjer postavljanja top i left umjesto right i align-content */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Promijenjena definicija za .popup i .overlay */
.popup,
.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

/* Dodane definicije za .popup.active i .overlay.active */
.popup.active,
.overlay.active {
    display: block;
}

/* Definicija za .objekt_list */
.objekt_list {
    text-align: center;
    position: fixed;
    background-color: aqua;
}
.centered-select {
    display: block;
    margin: 0 auto; /* Horizontalno centriranje */
    padding: 8px;
    border: 1px solid #000;
    width: 50%; /* Postavljanje širine */
}